html {
    color-scheme: only dark;
}

body {
    background-color: #2f3132;
    color: #d8d4cf;
    /* color-scheme: only dark; */
    height: 100%;
    width: 100%;
}

button,
input {
    /* background-color: #131516;
    color: #d8d4cf; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 83.3333%;
}

.main-display {
    width: 75%;
    height: 100vh;
    float: right;
    display: flex;
}

.main-menu {
    float: left;
    width: 20%;
    height: 100vh;
}