.panel-container {
    --border-height: 2px;
    --border-width: 2px;
    /* float: right; */
    border-left: 1px solid rgb(28, 31, 32);
    border-right: 1px solid rgb(28, 31, 32);
    border-top: 1px solid rgb(28, 31, 32);
    border-radius: 0.5rem 0.5rem 0 0;
    width: calc(36% - var(--border-width));
    height: 97.5vh;
    overflow: hidden;
    text-align: center;

    /* margin-left: auto; */
    margin: 0.5rem;
    margin-top: 0.9rem;
    position: relative;
}

.playlist-panel {

    /* height: 99%; */
    display: flex;
    flex-direction: column;
}

#playlist-pages-container {


    overflow-y: auto;
    overflow-x: hidden;
    height: 82vh;
    /* margin-top: 3rem; */
}

.playlist-controls-cont {
    /* position: absolute; */
    height: 14vh;
    top: 0;
    width: calc(100% - 1rem);
    border: 0.5rem solid rgb(36, 38, 40);
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: rgb(36, 38, 40);
}

.panel-controls {
    text-align: center;
}

.panel-controls button {
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
}

.pagination {
    display: block;
}

.pagination ul {
    list-style: none;
    display: inline;
    padding-left: 0.4rem;
    font-size: 1.3rem;
}

.pagination li {
    display: inline;
}

.page-button {
    color: dodgerblue;
    padding-right: 0.3rem;
}

.page-button:hover {
    cursor: pointer;
    color: midnightblue;
}


#page-number-cont {
    padding: 0;
}

.playlist-item {
    display: block;
    margin: 1rem 0 1rem 0;
}

.playlist-item p {
    display: inline;
}

.video-number {
    margin-left: 1rem;
}

.selected-thumbnail {
    position: relative;
}

.selected-thumbnail::before {
    font-size: 10rem;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "✔";
    color: rgb(24, 141, 237);
    background-color: rgba(54, 51, 51, 0.862);
}

/* .selected-thumbnail:hover::before {
} */

.invisible {
    visibility: hidden;
    /* display: none; */
}